data/reset.ser
data/values.json
system_test/next_reset.json
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.idea/
__pycache__/
build/
dist/
lib/
war/
wheels/
downloads/
lib64/
pip-wheel-metadata/
share/python-wheels/
MANIFEST
geckodriver.log
